<div class="head">
    <h3>Welcome {{Username}}</h3></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-outline-primary logout" routerLink="">Logout</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="main">
                <h4>Deposit Amount</h4><br>
                <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                    <input id="log" type="text" class="text" placeholder="Account number" name="account"
                        formControlName="accno">
                    <div class="error"
                        *ngIf="(depositForm.get('accno')?.touched || depositForm.get('accno')?.dirty) && depositForm.get('accno')?.errors">
                        Invalid account</div><br><br>
                    <input id="pass" type="password" class="text" placeholder="Password" name="password"
                        formControlName="passwd">
                    <div class="error"
                        *ngIf="(depositForm.get('passwd')?.touched || depositForm.get('passwd')?.dirty) && depositForm.get('passwd')?.errors">
                        Invalid password</div><br> <br>
                    <input id="amo" type="text" class="text" placeholder="Amount" name="amt" formControlName="amount">
                    <div class="error"
                        *ngIf="(depositForm.get('amount')?.touched || depositForm.get('amount')?.dirty) && depositForm.get('amount')?.errors">
                        Invalid amount</div><br><br>
                    <!-- <input type="submit" value="Withdrawal" class="button butefct" onclick="Bank.withdraw()"> <br><br> -->
                    <input type="submit" value="Deposit" class="button button1 butefct"> <br><br>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>withdraw Amount</h4><br>
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
                    <input id="log" type="text" class="text" placeholder="Account number" name="wacno"
                    formControlName="waccno">
                    <div class="error"
                        *ngIf="(withdrawForm.get('waccno')?.touched || withdrawForm.get('waccno')?.dirty) && withdrawForm.get('waccno')?.errors">
                        Invalid account</div><br><br>
                    <input id="pass" type="password" class="text" placeholder="Password" name="wpwd"
                    formControlName="wpasswd">
                    <div class="error"
                        *ngIf="(withdrawForm.get('wpasswd')?.touched || withdrawForm.get('wpasswd')?.dirty) && withdrawForm.get('wpasswd')?.errors">
                        Invalid password</div><br> <br>
                    <input id="amo" type="text" class="text" placeholder="Amount" name="wamt"
                    formControlName="wamount">
                    <div class="error"
                        *ngIf="(withdrawForm.get('wamount')?.touched || withdrawForm.get('wamount')?.dirty) && withdrawForm.get('wamount')?.errors">
                        Invalid amount</div><br><br>
                    <input type="submit" value="Withdrawal" class="button butefct"> <br><br>
                    <!-- <input type="submit" value="Deposit" class="button button1 butefct" onclick="Bank.deposit()"> <br><br> -->
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>